.bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

/* Information on the quote's author */
.info {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 1em;
  padding: 1em 1em 1em 2em;
  background-color: var(--clr-green-secondary);
  font-size: 1em;
  transition: all 0.4s;
  box-shadow: 0px 0.6px 1px -13px rgba(0, 0, 0, 0.129),
    0px 1.4px 2.1px -13px rgba(0, 0, 0, 0.189),
    0px 2.3px 3.6px -13px rgba(0, 0, 0, 0.233),
    0px 3.5px 5.4px -13px rgba(0, 0, 0, 0.271),
    0px 5px 7.8px -13px rgba(0, 0, 0, 0.305),
    0px 7.1px 11px -13px rgba(0, 0, 0, 0.339),
    0px 10.1px 15.6px -13px rgba(0, 0, 0, 0.377),
    0px 14.6px 22.6px -13px rgba(0, 0, 0, 0.421),
    0px 22.5px 34.9px -13px rgba(0, 0, 0, 0.481),
    0px 40px 62px -13px rgba(0, 0, 0, 0.61);
}

.author {
  font-size: 2em;
  font-weight: bold;
}

.author-font {
  font-size: 12px;
}

/* Link to the author's SERP */
.anchor {
  width: 35%;
  text-decoration: none;
  color: black;
  transition: all 0.4s;
  cursor: pointer;
}

.search {
  width: 100%;
  border: solid 4px var(--clr-green-secondary);
  border-radius: 1em;
  background-color: var(--clr-green-secondary);
  font-size: 1em;
  height: 8em;
  padding: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: all 0.4s;
  box-shadow: 0px 0.6px 1px -13px rgba(0, 0, 0, 0.129),
    0px 1.4px 2.1px -13px rgba(0, 0, 0, 0.189),
    0px 2.3px 3.6px -13px rgba(0, 0, 0, 0.233),
    0px 3.5px 5.4px -13px rgba(0, 0, 0, 0.271),
    0px 5px 7.8px -13px rgba(0, 0, 0, 0.305),
    0px 7.1px 11px -13px rgba(0, 0, 0, 0.339),
    0px 10.1px 15.6px -13px rgba(0, 0, 0, 0.377),
    0px 14.6px 22.6px -13px rgba(0, 0, 0, 0.421),
    0px 22.5px 34.9px -13px rgba(0, 0, 0, 0.481),
    0px 40px 62px -13px rgba(0, 0, 0, 0.61);
}

.search:hover {
  background-color: var(--clr-green-secondary-transparent);
  color: var(--clr-green-secondary);
}

.search-info-ctr {
  font-size: 0.75em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}

.search-font {
  font-size: 12px;
}

.magnifier {
  font-size: 2em;
}
